#empleados-container
  {
    margin-top: 150px;
}

#empleados-buscar-container,
#empleados-create-container
  {
    margin-top: 50px;
}
.react-bs-table-sizePerPage-dropdown .dropdown-toggle{
  float: left;
  margin-bottom: 20px;
}
.search-Label {
  float: right;
  padding-bottom: 10px;
}

.sr-only {
  font-size: 0;
}
*{
  background-color: #ffffef;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffe8fe' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
}